{% extends 'blog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for cata in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <h4 class="my-0 font-weight-normal">{{ cata.title }}</h4>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ cata.created_at }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <a class="p-1 btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blog_detail' cata.pk %}" role="button">Описание</a>
                        <a class="p-1 btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blog_update' cata.pk %}" role="button">Редактировать</a>
                        <a class="p-1 btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blog_delete' cata.pk %}" role="button">Удалить</a>
                    </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}