{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                  <p class="card-text">Действительно хотите удалить {{ object.name }}</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:catalog_list' %}" role="button">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}